a {
    text-decoration: none;
}

/* Стили для ссылок меню */
.menu-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

/* Стили для заголовков h1 */
.heading-h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

/* Стили для параграфов */
.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

/* Стили для заголовков h2 */
.heading-h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}